body{
    background-color:azure;
}

#container{
    background-color: rgb(209, 226, 226);
    max-width: 30%;
    margin-left: 35%;
    margin-top: 7%;
    padding: 1%;
    border: radius 20px;
}