<html>
    <head>
        <meta charset="utf-8">
        <title>MyFlaskApp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    </head>
    <body>
        <!-- named with underscore becuase its a partial file -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">IMSR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
        </li>
        
        
        <li class="nav-item">
          <a class="nav-link" href="/locations">Location</a>
        </li>
        
        
        <li class="nav-item">
          <a class="nav-link" href="/product_movements">Product Movements</a>
        </li>
        
      </ul>
      <ul class="navbar-nav navbar-right">
        
          <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
          <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
        
      </ul>
    </div>
  </nav>
        <div class="container mt-4">
            
  





            
     <h1>Product Movements</h1>
     <a class="btn btn-success" href="/add_product_movements">Add Product Movements</a>
     <hr>
     <table class="table table-striped">
         <thead>
             <tr>
                 <th>Movement ID</th>
                 <th>Time</th>
                 <th>From Location</th>
                 <th>To Location</th>
                 <th>Product ID</th>
                 <th>Quantity</th>
             </tr>
         </thead>
         <tbody>
                 
                <tr>
                 <td>66</td>
                 <td>2022-11-19 15:00:17.291521</td>
                 <td>Main Inventory</td>
                 <td>Chennai</td>
                 <td>Milk</td>
                 <td>20</td>
                 <!--<td><a href="edit_product_movement/66" class="btn btn-primary pull-right">Edit</a></td>-->
                 <td>
                     <form action="/delete_product_movements/66" method="POST">
                        <input type="hidden" name="method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                     </form>
                 </td>
                </tr>
                
                <tr>
                 <td>67</td>
                 <td>2022-11-19 15:00:44.535451</td>
                 <td>Main Inventory</td>
                 <td>Cuddalore</td>
                 <td>Wheat</td>
                 <td>55</td>
                 <!--<td><a href="edit_product_movement/67" class="btn btn-primary pull-right">Edit</a></td>-->
                 <td>
                     <form action="/delete_product_movements/67" method="POST">
                        <input type="hidden" name="method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                     </form>
                 </td>
                </tr>
                
                <tr>
                 <td>68</td>
                 <td>2022-11-21 09:10:43.130999</td>
                 <td>Main Inventory</td>
                 <td>Chennai</td>
                 <td>Sugar</td>
                 <td>100</td>
                 <!--<td><a href="edit_product_movement/68" class="btn btn-primary pull-right">Edit</a></td>-->
                 <td>
                     <form action="/delete_product_movements/68" method="POST">
                        <input type="hidden" name="method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                     </form>
                 </td>
                </tr>
                
                <tr>
                 <td>69</td>
                 <td>2022-11-21 09:32:28.811195</td>
                 <td>Chennai</td>
                 <td>Cuddalore</td>
                 <td>Milk</td>
                 <td>100</td>
                 <!--<td><a href="edit_product_movement/69" class="btn btn-primary pull-right">Edit</a></td>-->
                 <td>
                     <form action="/delete_product_movements/69" method="POST">
                        <input type="hidden" name="method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                     </form>
                 </td>
                </tr>
                
         </tbody>
     </table>

        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    </body>
</html>
